export ANALYTICS_REPORT_EMAIL="YYYYYYY@developer.gserviceaccount.com"
export ANALYTICS_REPORT_IDS="ga:XXXXXX"
export ANALYTICS_KEY_PATH="/path/to/secret_key.pem"

# Optional: if your profile uses a single hostname, set it here.
# It will be prepended to page paths.
# export ANALYTICS_HOSTNAME=https://example.gov

# Optional: defaults to reports/reports.json inside module
# export ANALYTICS_REPORTS_PATH=/path/to/report.json

export AWS_REGION=us-east-1
export AWS_ACCESS_KEY_ID=[your-key]
export AWS_SECRET_ACCESS_KEY=[your-secret-key]

export AWS_BUCKET=[your-bucket]
export AWS_BUCKET_PATH=[your-path]
export AWS_CACHE_TIME=0

# Alternative approach - copy what follows to a new file named 'env.js'.
# Remove the '#'s at the start of the line, and the '//'s where appropriate.

#process.env['ANALYTICS_REPORT_EMAIL'] = "YYYYYYY@developer.gserviceaccount.com"
#process.env['ANALYTICS_REPORT_IDS'] = "ga:XXXXXX"
#process.env['ANALYTICS_KEY_PATH'] = "/path/to/secret_key.pem"
#
#// Optional: if your profile uses a single hostname, set it here.
#// It will be prepended to page paths.
#// process.env['ANALYTICS_HOSTNAME'] = https://example.gov
#//
#// Optional: defaults to reports/reports.json inside module
#// process.env['ANALYTICS_REPORTS_PATH'] = /path/to/report.json
#
#// process.env['AWS_REGION'] = us-east-1
#// process.env['AWS_ACCESS_KEY_ID'] = [your-key]
#// process.env['AWS_SECRET_ACCESS_KEY'] = [your-secret-key]
#
#// process.env['AWS_BUCKET'] = [your-bucket]
#// process.env['AWS_BUCKET_PATH'] = [your-path]
#// process.env['AWS_CACHE_TIME'] = 0
