export ANALYTICS_REPORT_EMAIL="YYYYYYY@developer.gserviceaccount.com"
export ANALYTICS_REPORT_IDS="ga:XXXXXX"

export ANALYTICS_CREDENTIALS='[
  {
    "key": "{PRIVATE 1 KEY HERE}",
    "email": "email_1@example.com"
  },
  {
    "key": "{PRIVATE 2 KEY HERE}",
    "email": "email_2@example.com"
  }
]'

# Optional: if your profile uses a single hostname, set it here.
# It will be prepended to page paths.
# export ANALYTICS_HOSTNAME=https://example.gov

# Optional: defaults to reports/reports.json inside module
# export ANALYTICS_REPORTS_PATH=/path/to/report.json

export AWS_REGION=us-east-1
export AWS_ACCESS_KEY_ID=[your-key]
export AWS_SECRET_ACCESS_KEY=[your-secret-key]

export AWS_BUCKET=[your-bucket]
export AWS_BUCKET_PATH=[your-path]
export AWS_CACHE_TIME=0
