# Run all reports every day soon after midnight. Server uses UTC.

################################# most reports
10 8 * * * /home/analytics/daily.sh > /home/analytics/logs/daily.log 2>&1

# one 'today' report
0 * * * * /home/analytics/hourly.sh > /home/analytics/logs/hourly.log 2>&1

# realtime reports
*/3 * * * * /home/analytics/realtime.sh > /home/analytics/logs/realtime.log 2>&1
